/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  background-color: #ffc93c;
}

a {
  color: #149ddd;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  right: 1rem;
  bottom: 1rem;
  background: #149ddd;
  color: #ffc93c;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 2rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.back-to-top:hover {
  color: #fff;
  background: #2eafec;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 18.8rem;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 1rem;
  background: #31326f;
  overflow-y: auto;
}

#header img {
  margin: 1rem auto;
  display: block;
  width: 8rem;
  border: 0.5rem solid #2c2f3f;
}

#header h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header h1 a,
#header h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .social-links a {
  font-size: 1.5rem;
  display: inline-block;
  background: #31326f;
  color: #fff;
  line-height: 1;
  padding: 0.5rem 0;
  margin-right: 0.25rem;
  border-radius: 50%;
  text-align: center;
  width: 2.5rem;
  height: 2rem;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 19rem;
}

@media(max-width: 1199px) {
  #header {
    left: -19rem;
  }
  #main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding-top: 1.9rem;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 0.7rem 1.4rem;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i {
  font-size: 1.6rem;
  padding-right: 0.5rem;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active > a i,
.nav-menu li:hover > a i {
  color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 9998;
  border: 0;
  background: none;
  font-size:1.5rem ;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #149ddd;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 3.5rem 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 1.9rem;
}

.section-title h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
  padding-bottom: 1.3rem;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 3rem;
  height: 0.1rem;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin: 0.5rem 4rem;
}

.services .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background: #149ddd;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #149ddd;
}

.services .icon i {
  color: #fff;
  font-size: 2rem;
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #149ddd;
}

.services .title {
  margin-left: 4rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
  font-size: 1.1rem;
}

.services .title a {
  color: #343a40;
}

.services .title a:hover {
  color: #149ddd;
}

.services .description {
  margin-left: 4rem;
  line-height: 1.3rem;
  font-size: 0.8rem;
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts {
  margin: -4.3rem;
  padding-bottom: 0.2rem;
}

.facts .count-box {
  padding: 0.5rem;
  width: 100%;
}

.facts .count-box i {
  display: block;
  font-size: 2.5rem;
  color: #149ddd;
  float: left;
}

.facts .count-box span {
  font-size: 2.5rem;
  line-height: 2rem;
  display: block;
  font-weight: 700;
  color: #050d18;
  margin-left: 3rem;
}

.facts .count-box p {
  padding: 1rem 0 0 0;
  margin: 0 0 0 2rem;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  color: #122f57;
}

.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 0.2rem;
  color: #122f57;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.facts .count-box a:hover {
  color: #1f5297;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 6rem;
}

.contact .info {
  padding: 1.9rem;
  background: #2d6187;
  width: 100%;
  height: 55%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 1.6rem;
  color: #149ddd;
  float: left;
  width: 3rem;
  height: 3rem;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
  color: #fff;
}

.contact .info p {
  padding: 0 0 0.5rem 4rem;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  color: #fecd1a;
}

.contact .info .email p {
  padding-top: 0.3rem;
}

.contact .info .social-links {
  padding-left: 2rem;
}

.contact .info .social-links a {
  font-size: 1.4rem;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 0.5rem 0;
  border-radius: 50%;
  text-align: center;
  width:2.1rem;
  height: 2.1rem;
  transition: 0.3s;
  margin-right: 0.6rem;
}
label{
  color:#fff;
}

.contact .info .social-links a:hover {
  background: #149ddd;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 2rem;
  background: #2d6187;
  box-shadow: 0 0 1.6rem 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 0.5rem;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #ffc93c;
  border: 0;
  padding: 10px 24px;
  color: #0061a8;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #37b3ed;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #040b14;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}

@media(max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}
