
  html {
    scroll-behavior: smooth;
  }
html{
  margin: 0;
  padding: 0;
  background-color:#99bbad;
}


a {
 text-decoration: none;
color: var(--text-color);
}
button {
  margin: 1rem 3rem;
  background-color: #e48900;
  padding: 0.5rem 2rem;
  list-style: none;
  font-size: 2rem;
  border-radius: 2rem;
}

.logo {
  font-size: 2rem;
  position: relative;
  width: 80rem;
  padding:1rem 0;

}
h1 {
  position: relative;
  left:0;
  margin-top: 1rem;
  color: #e48900;
  text-align: center;
  font-size: 3rem;
}
.slider {
  position: relative;
  left: 32%;
  top:1rem;
  bottom: 5rem;
  display: flex;
  height: 65vh;
  width: 35vw;
  position: relative;
}
.slider .switchRight {
  position: absolute;
  right: -45px;
  top: 45%;
  color: #e48900;
  font-weight: 700;
  height: 25px;
  width: 45px;
  line-height: 25px;
  font-size: 40px;
  text-align: center;
  font-family: sans-serif;
  transition-duration: 0.4s;
}
.slider .switchLeft {
  position: absolute;
  left: -45px;
  top: 45%;
  color: #e48900;
  font-weight: 700;
  height: 25px;
  width: 45px;
  line-height: 25px;
  font-size: 40px;
  text-align: center;
  font-family: sans-serif;
  transition-duration: 0.4s;
}
.switchLeft:hover {
  cursor: pointer;
}
.switchRight:hover {
  cursor: pointer;
}
.sliderbox {
  height: 60vh;
  width: 50vw;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
.sliderbox img {
  width: 35vw;
  height: 65vh;
  background-size: cover;
  border-radius: 15px;
}
.selectImages {
  left: 31.5%;
  position: relative;
  top: 1rem;
  height: 2rem;
  border-radius: 1rem;
  width: 35vw;
  background-color:#e48900;
  font-size: 1rem;
  padding:0 1rem;
}
.imageSelector {
  margin: 0.5rem 0.05rem;
  cursor: pointer;
}
